body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.calendario {
    width: 50%;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendario h2 {
    margin-top: 0;
}

.calendario table {
    width: 100%;
    border-collapse: collapse;
}

.calendario th, .calendario td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.calendario th {
    background-color: #f0f0f0;
}

.lista-eventos {
    width: 40%;
    background-color: #f0f0f0;
}

.add-button {
    margin-top: 20px;
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}