{% extends 'public/base_cpanel.html' %}

{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/tickets.css') }}" />
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h3 class="text-center">Lista de Tickets</h3>
    <hr>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Tipo</th>
                <th>ID Usuario</th>
                <th>ID Empleado Asignado</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id_ticket }}</td>
                <td>{{ ticket.titulo_ticket }}</td>
                <td>{{ ticket.descripcion_ticket }}</td>
                <td>{{ ticket.tipo_ticket }}</td>
                <td>{{ ticket.id_user }}</td>
                <td>{{ ticket.id_empleado_asignado }}</td>
            </tr>
            <td>
                <a href="{{ url_for('editar_ticket', id_ticket=ticket['id_ticket']) }}" class="btn btn-warning btn-sm">Editar</a>
                <form action="{{ url_for('eliminar_ticket', id_ticket=ticket['id_ticket']) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que deseas eliminar este ticket?')">Eliminar</button>
                </form>
            </td>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}